<div class="container">
  <h1>Cederj Workroom</h1>

  <p>Sua sala de estudos do cederj! Vamos nos unir galeraaaa!</p>

  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>Participe de fórums!</h2>
    <p>Participe de grupos específicos de acordo com o que você quer estudar, e seja feliz!</p>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>Adicione amigos!</h2>
    <p>Mantenha contato com quem você conheceu, seja de seu polo, seja de outros, e converse com eles!</p>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>Seja feliz!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>